# MAC files
.DS_Store

# History files
.Rhistory
.Rapp.history
.Rproj.user
.RData


# Data files I'm generating
sandbox/
old/
inst/doc
todo.txt
validation/data/sim_data/
validation/validation.Rproj
validation/analyses/sanbox/
validation/nohup.out
validation/run.Rout
